<!doctype html>
<html>
	<head>
			<style>
		#question{
			color:white;
			margin-top:-230px;
			font-size:70px;
		}
#batman{
	color:white;
	font-size:60px;	
}
#superman{
	color:white;
	font-size:60px;
}
#spiderman{
	color:white;
	font-size:60px;
}
#ironman{
	color:white;
	font-size:60px;
}
#imagepoint{
	margin-top:190px;
	margin-left:70px;
}
	</style>
	<script>
	var c1=0,c2=0,c3=0,c4=0;
	function batman()
	{			
		var myElement = document.getElementById("batman");		
		myElement.style.color = "red";
		if(c1==0)
		{myElement.innerHTML+=' X';c1++;}
		
	};
	function ironman()
	{
		var myElement = document.getElementById("ironman");		
		myElement.style.color = "green";
		if(c4==0){
			myElement.innerHTML+='&#10004;';
		myElement.style.fontSize="25";
		setTimeout("move()",2000);
		c4++;
		}
		
	};
	function superman()
	{
		var myElement = document.getElementById("superman");		
		myElement.style.color = "red";
		if(c2==0)
		{myElement.innerHTML+=' X';c2++;}
		
	};
	function spiderman()
	{
		var myElement = document.getElementById("spiderman");		
		myElement.style.color = "red";
		if(c3==0)
		{myElement.innerHTML+=' X';c3++;}
		
	};
	function move()
	{
		window.location.assign("/leveldc");
	};
	</script>
		<meta name="viewport" content="width=device-width" />
		<title>Parts of Body</title>

		

		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/themes.css" />
		<link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
	</head>
	<body class="coverflow">
		<div id="main">
			<header>
					
					<p class="hidden"><span id="input-method">Press up and down keys</span> to change colors.</p>
			</header>

			<article>
				<section>
			<div id="imagepoint"><img src="/static/images/partsofbody/5.png" alt="Turtle" height="230" width="230"></div>
					<h2><div id="question">Which organ helps us to hear sound?</div></br>
				<a href="javascript: void 0;" onclick="batman();"><div id="batman">A) Eyes</div></a>
				<a href="javascript: void 0;" onclick="spiderman();"><div id="spiderman">B) Nose</div></a>
				<a href="javascript: void 0;" onclick="ironman();"><div id="ironman">C) Ears</div></a>
					<a href="javascript: void 0;" onclick="superman();"><div id="superman">D) Legs</div></a></h2>

				</section>
				
				
	
			</article>
		</div>
		<footer>
				<div class="themes">
					<p>
						<strong><span class="colon"></span></strong> <span id="theme"></span>
					</p>
				</div>

			
		</footer>

		<script src="/static/js/bespoke.min.js"></script>
		<script src="/static/js/demo.js"></script>

		
	</body>
</html>