<html>
<head>
	<style>
#batman{
	color:white;
	
}
#superman{
	color:white;
}
#spiderman{
	color:white;
}
#ironman{
	color:white;
}
	</style>
	<script>
	var c1=0,c2=0,c3=0,c4=0;
	function batman()
	{			
		var myElement = document.getElementById("batman");		
		myElement.style.color = "red";
		if(c1==0)
		{myElement.innerHTML+=' X';c1++;}
		
	};
	function ironman()
	{
		var myElement = document.getElementById("ironman");		
		myElement.style.color = "green";
		if(c4==0){
			myElement.innerHTML+='&#10004;';
		myElement.style.fontSize="25";
		setTimeout("move()",2000);
		c4++;
		}
		
	};
	function superman()
	{
		var myElement = document.getElementById("superman");		
		myElement.style.color = "red";
		if(c2==0)
		{myElement.innerHTML+=' X';c2++;}
		
	};
	function spiderman()
	{
		var myElement = document.getElementById("spiderman");		
		myElement.style.color = "red";
		if(c3==0)
		{myElement.innerHTML+=' X';c3++;}
		
	};
	function move()
	{
		window.location="try2.html";
	};
	</script>
	</head>
	<body>
		<table>
			<tr>
		What is your name ?<tr>
	<tr><td><a href="javascript: void 0;" onclick="batman();">A</a> <div id="batman">this is option 1</div></td></tr>
		<tr><td><a href="javascript: void 0;" onclick="spiderman();">B</a> <div id="spiderman">this is option 2</div></td></tr>
		<tr><td><a href="javascript: void 0;" onclick="ironman();">C</a> <div id="ironman">this is correct option</div></td></tr>
		<tr><td><a href="javascript: void 0;" onclick="superman();">D</a> <div id="superman">this is option 4</div></td></tr>
		</table>
</body>
</html>