<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>KidsApp</title>

		

		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/themes.css" />
		<link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
<style>

.button{display:block;width:100px;height:100px;border-radius:50px;font-size:20px;color:#fff;line-height:100px;text-align:center;background:white}
</style>
	</head>
	<body class="coverflow">
		<div id="main">
			<header>
					
					
			</header>

			<article>

<!-- style wala added to make each section as a whole clickable -->
		<section style="cursor: pointer;" onclick="location.href='level1.html';"><a href="level1.html" ><h1><b>1</b></h1></a></section>
		<section style="cursor: pointer;" onclick="location.href='level2.html';"><a href="level2.html" ><h1><b>2</b></h1></a></section>
		<section style="cursor: pointer;" onclick="location.href='level3.html';"><a href="level3.html" ><h1><b>3</b></h1></a></section>
		<section style="cursor: pointer;" onclick="location.href='level4.html';"><a href="level4.html" ><h1><b>4</b></h1></a></section>
		<section style="cursor: pointer;" onclick="location.href='level5.html';"><a href="level5.html" ><h1><b>5</b></h1></a></section>
		<section style="cursor: pointer;" onclick="location.href='level6.html';"><a href="level6.html" ><h1><b>6</b></h1></a></section>
				
				
	
			</article>
		</div>
		

		<script src="/static/js/bespoke.min.js"></script>
		<script src="/static/js/demo.js"></script>

		
	</body>
</html>
