<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Bespoke.js</title>

		<meta content="Bespoke.js" property="og:title" />
		<meta content="Bespoke.js" property="og:site_name" />
		<meta content="http://markdalgleish.com/projects/bespoke.js/" property="og:url" />
		<meta content="website" property="og:type" />
		<meta content="DIY Presentation Micro-Framework. Less than 1KB minified and gzipped, with no dependencies. Bespoke.js provides the foundation, then gets out of your way so you can focus on uniquely crafting your own personal deck style." property="og:description" />
		<meta content='http://markdalgleish.com/projects/bespoke.js/images/og-thumb.jpg' property='og:image' />

		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/themes.css" />
		<link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">
	</head>
	<body class="coverflow">
		<div id="main">
			<header>
					<h1>KidsApp</h1>
					<h2>This is the level3 page</h2>
					<p class="hidden"><span id="input-method">Press up and down keys</span> to view example themes.</p>
			</header>

			<article>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
				<section></section>
	
			</article>
		</div>
		<footer>
				<div class="themes">
					<p>
						<strong><span class="colon"></span></strong> <span id="theme"></span>
					</p>
				</div>

			<!-- <div class="social">
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div> -->
		</footer>

		<script src="/static/js/bespoke.min.js"></script>
		<script src="/static/js/demo.js"></script>

		
	</body>
</html>